<section id="technologies" class="s-clients">
  <div class="row section-header" data-aos="fade-up">
    <div class="col-full">
      <h3 class="subhead">Our Tehnologies</h3>
      <h1 class="display-2">We are using this tech stack</h1>
    </div>
  </div>
  <div class="row clients-outer" data-aos="fade-up">
    <div class="col-full">
      <div class="clients">
        <a href="https://angular.io" target="_blank" title="Angular" class="clients__slide"><img
          src="../assets/images/stack/angular.png"/></a>
        <a href="https://www.android.com" target="_blank" title="Android" class="clients__slide"><img
          src="../assets/images/stack/android.png"/></a>
        <a href="https://developer.apple.com/ios/" target="_blank" title="Ios" class="clients__slide"><img
          src="../assets/images/stack/apple.png"/></a>
        <a href="https://www.nativescript.org" target="_blank" title="Nativescript" class="clients__slide"><img
          src="../assets/images/stack/nativescript.png"/></a>
        <a href="https://www.electronjs.org" target="_blank" title="Electron" class="clients__slide"><img
          src="../assets/images/stack/electron.png"/></a>
        <a href="https://www.slack.com" target="_blank" title="Slack" class="clients__slide"><img
          src="../assets/images/stack/slack.png"/></a>
        <a href="https://www.electronjs.org" target="_blank" title="Trello" class="clients__slide"><img
          src="../assets/images/stack/trello.png"/></a>
      </div>
    </div>
  </div>
  <div class="row clients-outer" data-aos="fade-up">
    <div class="col-full">
      <div class="clients">
        <a href="https://www.nodejs.org" target="_blank" title="Nodejs" class="clients__slide"><img
          src="../assets/images/stack/nodejs.png"/></a>
        <a href="https://www.nestjs.com" target="_blank" title="Nestjs" class="clients__slide"><img
          src="../assets/images/stack/nestjs.png"/></a>
        <a href="https://serverless.com" target="_blank" title="Serverless" class="clients__slide"><img
          src="../assets/images/stack/serverless.png"/></a>
        <a href="https://git-scm.com" target="_blank" title="Git" class="clients__slide"><img
          src="../assets/images/stack/git.png"/></a>
        <a href="https://github.com" target="_blank" title="Github" class="clients__slide"><img
          src="../assets/images/stack/github.png"/></a>
        <a href="https://bitbucket.com" target="_blank" title="Bitbucket" class="clients__slide"><img
          src="../assets/images/stack/bitbucket.png"/></a>
        <a href="https://gitlab.com" target="_blank" title="Gitlab" class="clients__slide"><img
          src="../assets/images/stack/gitlab.png"/></a>
        <a href="https://linux.org" target="_blank" title="Linux" class="clients__slide"><img
          src="../assets/images/stack/linux.png"/></a>
      </div>
    </div>
  </div>
  <div class="row clients-testimonials" data-aos="fade-up">
    <div class="col-full">
      <div class="testimonials">
        <div class="testimonials__slide">
          <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum.
            Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui
            praesentium corpori.
            Excepturi nam cupiditate culpa doloremque deleniti repellat.</p>
          <img src="../assets/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
          <div class="testimonials__info">
            <span class="testimonials__name">Miroslav Maksimovic</span>
            <span class="testimonials__pos">Team member</span>
          </div>
        </div>
        <div class="testimonials__slide">
          <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
            Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam
            vel.</p>
          <img src="../assets/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
          <div class="testimonials__info">
            <span class="testimonials__name">Albert Akos</span>
            <span class="testimonials__pos">Team member</span>
          </div>
        </div>
        <div class="testimonials__slide">
          <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus
            aut sed ipsam.
            Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>
          <img src="../assets/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
          <div class="testimonials__info">
            <span class="testimonials__name">Milan Brckalo</span>
            <span class="testimonials__pos">Team member</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
