section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #39b54a;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: 5px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.81);
  min-height: 440px;

}

.card-text {
  color: #fff;
  font-size: 1.3rem;
}

.card-body > p, .card > h4 {
  padding: 15px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
  min-height: 440px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #39b54a;
  border-radius: 5px;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  min-height: 440px;
  width: 100%;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #39b54a !important;
}

.backside .card a:hover {
  font-size: 18px;
  color: #fff !important;
}


.frontside .card .card-title,
.backside .card .card-title {
  color: #39b54a !important;
}

.frontside .card .card-body img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #39b54a;
}

.backside .card .card-body img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #39b54a;
  padding-bottom: 0;
  margin-bottom: 0;
}

.backside .card .card-body > h4 {
  margin-top: 0;
}

.backside .card .card-body > p {
  margin-bottom: 0;
}

.plus-circle {
  font-size: 2rem;
  color: #fff;
}
