<footer>
  <div class="row footer-main">
    <div class="col-two footer-desc">
      <div class="footer-logo"></div>
    </div>
    <div class="col-ten">
      <div class="description">We are group of young people who are very passionate about new technologies in making software.
        Freely contact us for info and possible collaborations...
        Enjoy your day! We wish you all the best :D.
      </div>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-twelve">
      <div class="copyright">
        <span>© Copyright ngQuad {{currentYear}}</span>
      </div>
      <div id="gotop" class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-arrow-up" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
