<section id='works' class="s-works">
  <div class="intro-wrap">
    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
      <div class="col-full">
        <h3 class="subhead">Recent Works</h3>
        <h1 class="display-2 display-2--light">We love what we do, check out some of our latest works</h1>
      </div>
    </div>
  </div>
  <div class="row works-content">
    <div class="col-full masonry-wrap">
      <div class="masonry">
        <ng-container *ngFor="let portfolio of portfolios">
          <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
              <div class="item-folio__thumb">
                <a href="../assets/images/portfolio/{{portfolio?.image}}" class="thumb-link"
                   title="{{portfolio?.title}}"
                   data-size="1050x700">
                  <img class="full" src="../assets/images/portfolio/{{portfolio?.image}}"
                       srcset="../assets/images/portfolio/{{portfolio?.image}} 1x, ../assets/images/portfolio/{{portfolio?.image}} 2x"
                       alt="">
                </a>
              </div>
              <div class="item-folio__text">
                <h3 class="item-folio__title">
                  {{portfolio?.title}}
                </h3>
                <p class="item-folio__cat">
                  {{portfolio?.type}}
                </p>
              </div>
              <a href="{{portfolio?.link}}" (click)="goTo(portfolio?.link)" target="_blank"
                 class="item-folio__project-link" title="Project link">
                <i class="icon-link"></i>
              </a>
              <div class="item-folio__caption">
                <p>{{portfolio?.description}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
