<section id="locations" class="s-home target-section" data-parallax="scroll"
         data-image-src="./assets/images/backgrounds/background.png" data-natural-width=3000
         data-natural-height=2000 data-position-y=center>

  <div class="row section-header" data-aos="fade-up">
    <div class="col-full">
      <h3 class="section-title h1 green">Our Locations</h3>
      <h1 class="display-2 display-2--light">We come from different cities, check them out freely</h1>
    </div>
  </div>

  <div class="row">
    <map-box
      [iGeoJson]="iGeoJson"
      (mapReset)="onMapReset()"
      (itemLocationClick)="onItemLocationClicked($event)"
    ></map-box>
  </div>

</section>
