<ngQuad-header [socials]="socials"></ngQuad-header>

<ngQuad-home [socials]="socials"></ngQuad-home>

<ngQuad-about [description]="aboutDescription" [companyStats]="companyStats"></ngQuad-about>

<ngQuad-services [companyServices]="companyServices"></ngQuad-services>

<section id='works' class="s-works">
  <div class="intro-wrap">
    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
      <div class="col-full">
        <h3 class="subhead">Recent Works</h3>
        <h1 class="display-2 display-2--light">We love what we do, check out some of our latest works</h1>
      </div>
    </div>
  </div>
  <div class="row works-content">
    <div class="col-full masonry-wrap">
      <div class="masonry">
        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
            <div class="item-folio__thumb">
              <a href="../assets/images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Shutterbug"
                 data-size="1050x700">
                <img src="../assets/images/portfolio/lady-shutterbug.jpg"
                     srcset="../assets/images/portfolio/lady-shutterbug.jpg 1x, ../assets/images/portfolio/lady-shutterbug@2x.jpg 2x"
                     alt="">
              </a>
            </div>
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Shutterbug
              </h3>
              <p class="item-folio__cat">
                Branding
              </p>
            </div>
            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
              <i class="icon-link"></i>
            </a>
            <div class="item-folio__caption">
              <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti
                neque nisi.</p>
            </div>
          </div>
        </div>
        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
            <div class="item-folio__thumb">
              <a href="../assets/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" title="Woodcraft"
                 data-size="1050x700">
                <img src="../assets/images/portfolio/woodcraft.jpg"
                     srcset="../assets/images/portfolio/woodcraft.jpg 1x, ../assets/images/portfolio/woodcraft@2x.jpg 2x"
                     alt="">
              </a>
            </div>
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Woodcraft
              </h3>
              <p class="item-folio__cat">
                Web Design
              </p>
            </div>
            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
              <i class="icon-link"></i>
            </a>
            <div class="item-folio__caption">
              <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti
                neque nisi.</p>
            </div>
          </div>
        </div>
        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
            <div class="item-folio__thumb">
              <a href="../assets/images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car"
                 data-size="1050x700">
                <img src="../assets/images/portfolio/the-beetle.jpg"
                     srcset="../assets/images/portfolio/the-beetle.jpg 1x, ../assets/images/portfolio/the-beetle@2x.jpg 2x"
                     alt="">
              </a>
            </div>
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                The Beetle
              </h3>
              <p class="item-folio__cat">
                Web Development
              </p>
            </div>
            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
              <i class="icon-link"></i>
            </a>
            <div class="item-folio__caption">
              <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti
                neque nisi.</p>
            </div>
          </div>
        </div>
        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
            <div class="item-folio__thumb">
              <a href="../assets/images/portfolio/gallery/g-grow-green.jpg" class="thumb-link" title="Grow Green"
                 data-size="1050x700">
                <img src="../assets/images/portfolio/grow-green.jpg"
                     srcset="../assets/images/portfolio/grow-green.jpg 1x, ../assets/images/portfolio/grow-green@2x.jpg 2x"
                     alt="">
              </a>
            </div>
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Grow Green
              </h3>
              <p class="item-folio__cat">
                Branding
              </p>
            </div>
            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
              <i class="icon-link"></i>
            </a>
            <div class="item-folio__caption">
              <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti
                neque nisi.</p>
            </div>
          </div>
        </div>
        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
            <div class="item-folio__thumb">
              <a href="../assets/images/portfolio/gallery/g-guitarist.jpg" class="thumb-link" title="Guitarist"
                 data-size="1050x700">
                <img src="../assets/images/portfolio/guitarist.jpg"
                     srcset="../assets/images/portfolio/guitarist.jpg 1x, ../assets/images/portfolio/guitarist@2x.jpg 2x"
                     alt="">
              </a>
            </div>
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Guitarist
              </h3>
              <p class="item-folio__cat">
                Web Design
              </p>
            </div>
            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
              <i class="icon-link"></i>
            </a>
            <div class="item-folio__caption">
              <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti
                neque nisi.</p>
            </div>
          </div>
        </div>
        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
            <div class="item-folio__thumb">
              <a href="../assets/images/portfolio/gallery/g-palmeira.jpg" class="thumb-link" title="Palmeira"
                 data-size="1050x700">
                <img src="../assets/images/portfolio/palmeira.jpg"
                     srcset="../assets/images/portfolio/palmeira.jpg 1x, ../assets/images/portfolio/palmeira@2x.jpg 2x"
                     alt="">
              </a>
            </div>
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Palmeira
              </h3>
              <p class="item-folio__cat">
                Web Design
              </p>
            </div>
            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
              <i class="icon-link"></i>
            </a>
            <div class="item-folio__caption">
              <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti
                neque nisi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ngQuad-team [teamMembers]="teamMembers"></ngQuad-team>

<ngQuad-locations
  [iGeoJson]="iGeoJson"
  (mapReset)="onMapReset()"
  (itemLocationClick)="onItemLocationClicked($event)">
</ngQuad-locations>

<ngQuad-technologies></ngQuad-technologies>

<ngQuad-contact
  [socials]="socials"
  (sendEmail)="sendEmail($event)">
</ngQuad-contact>

<ngQuad-footer [currentYear]="currentYear"></ngQuad-footer>

<!--images-->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
<!--images-->

<!--preloader-->
<div id="preloader">
  <div id="loader">
    <div class="line-scale-pulse-out">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!--preloader-->
