/* You can add global styles to this file, and also import other style files */
@import "assets/css/base.css";
@import "assets/css/fonts.css";
@import "assets/css/main.css";
@import "assets/css/vendor.css";
@import "assets/css/micons/micons.css";
@import "assets/css/font-awesome/css/font-awesome.min.css";

/*Begin map custom css*/

.marker {
  background-image: url('./assets/images/rocket.svg');
  background-color: #39b54a;
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl, .mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

/*End map custom css*/

.pswp__img {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@media only screen and (max-width: 600px) {
  .masonry__brick, .service-item, .col-block {
    opacity: 1 !important;
  }
}
